<h3><%= I18n.t(:last_games)%></h3>

<ul class="game_list">
<%= render(:partial=>'game', :collection=>@last_games) -%>
</ul>

<h3><%= I18n.t(:last_groups)%></h3>

<ul class="mylist">
<%= render(:partial=>'group', :collection=>@last_groups) -%>
</ul>

<h3><%= I18n.t(:last_registered_users)%></h3>

<ul class="mylist">
<%= render(:partial=>'user', :collection=>@last_users) -%>
</ul>
